:root{
    --preto:#000000;
    --branco:#ffffff;

}

body{
 background-color:var(--preto);
 color:var(--branco);

}

img{
    width: 10%;
}

header{

    display:flex;
    align-items: center;
    justify-content: space-around;

}